<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.BYDAUTO_INSTRUMENT_COMMON" />
<queries><package android:name="com.byd.clusterdebug" /></queries>
    <application android:label="DiPlay DiLink 4.0" tools:replace="android:label">
    </application></manifest>
